services:
  nginx:
    image: 'jc21/nginx-proxy-manager:latest'
    container_name: nginx
    restart: always
    environment:
      TZ: "Asia/Shanghai"
    ports:
      - '80:80'
      - '81:81'
      - '443:443'
    volumes:
      - ./nginx/data:/data
      - ./nginx/letsencrypt:/etc/letsencrypt

  alist:
    image: 'xhofe/alist:latest'
    container_name: alist
    volumes:
      - './alist:/opt/alist/data'
      - ./alist/resources:/mnt/resources
    ports:
      - '5244:5244'
    environment:
      - TZ=Asia/Shanghai
      - PUID=0
      - PGID=0
      - UMASK=022
    restart: always

  moments:
    image: kingwrcy/moments:latest
    container_name: moments
    ports:
      - 3101:3000
    environment:
      - JWT_KEY=${JWT_KEY}
      - PORT=3000
    volumes:
      - ./moments/data:/app/data
    restart: always
  
  xui:
    image: ghcr.io/xeefei/x-panel:latest
    container_name: xui
    environment:
      - XRAY_VMESS_AEAD_FORCED=false
    volumes:
      - ./xui/db/:/etc/x-ui/
      - ./xui/cert/:/root/cert/
    network_mode: host
    restart: always
  frps:
    image: snowdreamtech/frps:debian
    container_name: frps
    restart: always
    environment:
      TZ: Asia/Shanghai
    volumes:
      - ./frp/frps.toml:/etc/frp/frps.toml
    network_mode: host
  agent:
    container_name: portainer-agent
    image: portainer/agent:2.33.6
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /mnt/agent/volumes:/var/lib/docker/volumes
    network_mode: host

